body {
    background-color: aqua;
}

h1 {
    color: blueviolet;
    background-color: blanchedalmond;
}

p {
    color: pink;
    font-size: smaller;
    font-weight: bold;
    background-color: brown;
}